.section-title {
  font-size: 3.1rem;
  font-weight: 700;
  margin: 2rem 0 3rem 4rem;
  color: hsl(14, 65%, 9%);
}

  .cart-button {
    display: flex;
    background-color: white;
    transform: translateY(-25px);
    align-items: center;
    justify-content: center;
    border: 1px solid hsl(14, 25%, 72%);
    color: hsl(14, 65%, 9%);
    width: fit-content;
    border-radius: 25px;
    font-weight: 600;
    padding: 0.6rem 1.3rem 0.6rem 1.3rem;
    align-self: center;
    .shop-cart-icon {
      padding-right: 0.5rem;
    }
  }
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 45px;
}

.dessert-image {
  display: block;
  border-radius: 15px;
  //margin-bottom: 2rem;
}

.dessert-name {
  font-size: 1rem;
  color: hsl(14, 65%, 9%);
  font-weight: 600;
}
