.section-title {
  font-family: "RedHatText", sans-serif;
  font-size: 4.3rem;
  font-weight: 700;
  color: hsl(14, 65%, 9%);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 45px;
}

.dessert-image {
  display: block;

  border-radius: 3%;
}
