/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
font-family: "RedHatText";
  src: local("RedHatText"),
  url("assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype"),
  url("assets/fonts/RedHatText-Italic-VariableFont_wght.ttf") format("truetype");

}
